<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- [head content] -->
    <link rel="stylesheet" href="../static/feedback.css">
    <title>Отзывы</title>
</head>
<body>
    <header>
        <a id="backButton" href="/">Назад</a>
    </header>
    <main>
        <h1>Отзывы</h1>
        <section>
            <div class="feedback-form">
                <form action="{{ url_for('submit_feedback') }}" method="post">
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" required>
    
                    <label for="feedback">Отзыв:</label>
                    <textarea id="feedback" name="feedback" required></textarea>
    
                    <button type="submit">Отправить</button>
                </form>
            </div>
           </section>
            <section class="feedback-container">
                <h2>Отзывы пользователей</h2>
        
                <!-- Временный вывод для отладки -->
                <!-- <div>
                    {{ feedbacks|safe }}
                </div> -->
        
                <!-- Ваши циклы Jinja для отображения отзывов -->
                <ul class="feedback-list">
                    {% for feedback in feedbacks %}
                    <li>
                        <p class="feedback-name">От: {{ feedback.cust_name }}</p>
                        <p class="feedback-date">{{ feedback.feedback_date }}</p>
                        <p class="feedback-text">{{ feedback.feedback_text }}</p>
                    </li>
                {% else %}
                    <li>Пока нет отзывов.</li>
                {% endfor %}
                </ul>
            </section>

    </main>
    <!-- [footer] -->
</body>
</html>
